@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/*---- Variables------ */
:root{
    /* Colores */

    --green-color:#7ACC2D;
    --white-color:white;
    --black-color:#313337;

    /* Tipografia */

    --normal:12px;

    /* Espaciado */

    --space:10px;

    /* Box shadow */
    --box: 0 0 2px #C1BCBC;
}

/*---- Variables------ */
html,body{
    margin: 0;
    padding: 0;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
nav{
    display: flex;
    background-color: var(--green-color);
    padding: var(--space);
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav li{
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: var(--black-color);
    text-decoration:none;
}
nav li a:hover {
    color: var(--white-color);
    text-decoration:none;
}

/* Main section */

.main_section{
    padding: 15%;
    text-align: center;
}

.products{

    background-image: url("/images/curve.png");
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 20%;
    display: flex;
}

.product{
    padding: var(--space);
    margin-top: -240px;

}

.product .content{
    background-color: var(--white-color);
    padding: 15px;
    box-shadow: var(--box);
}
.img_content{
    text-align: center;
}

.main_button{
    background-color: var(--green-color) ;
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color: white;
    border:0;
    border-radius: 2px;
}
.main_button:hover{
    background-color: #4b8e0c;
    cursor: pointer;
}

.ranking{
    margin-top: 250px;
    padding-bottom: 100px;
    border-bottom:  solid 2px #eeeeee;
}

.ranking-contents{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ranking-contents-item{
    margin: 5%;
}

.ranking-content-description{
    display: grid;
    text-align: center;
}

.mentions{
    margin-top: 100px;
    padding-bottom: 100px;
}

.mention-text{
    text-align: center;
    font-size: 30px;
}

.mention-contents{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;  
}

.mention-content-description{
    box-shadow: 0px 3px 6px #00000029;
    margin-right: 10px;
}
.mention-content-description h3,p{
    padding:0 10px 10px 10px;

}
.mention-content-image img{
    width: 100%;
}

footer{
    width: 100%;
    height: 60px;
    background-color: #313337;
    display: flex;
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: var(--white-color);
}

footer a:hover{
    color: var(--green-color);
}

footer .mail{
    padding: 0 15px;
}

footer .terms{
    padding: 0 15px;
}

