html,body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
nav{
    display: flex;
    background-color: #7ACC2D;
    padding: 10px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav li{
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: black;
    text-decoration:none;
}
nav li a:hover {
    color: white;
    text-decoration:none;
}

/* Main section */

.main_section{
    padding: 15%;
    text-align: center;
}

.products{

    background-image: url("/images/curve.png");
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 20%;
    display: flex;
}

.product{
    padding: 10px;
    margin-top: -240px;

}

.product .content{
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 3px #C1BCBC;
}
.img_content{
    text-align: center;
}

.main_button{
    background-color: #7ACC2D ;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    color: white;
    border:0;
    border-radius: 2px;
}
.main_button:hover{
    background-color: #4b8e0c;
    cursor: pointer;
}


