.container{
    max-width: 900px;
    margin: auto;
}
.container h1{
    text-align: center;
}
.row{
    display: grid;
    grid-template:repeat(3,300px)/repeat(3,1fr) ;
    grid-template-areas: "ima1  desc1 desc1"
                         "desc2 desc2 ima2"
                         "ima3  desc3 desc3";                         
}
.row-product{
    display: grid;
    grid-template: 300px/repeat(2,1fr) ;
    grid-template-areas: "product  formulario";                                      
}

.producto{
    display: inherit;
    grid-area: product;
    justify-self: center;
    align-self: center;
    box-shadow: 0 0 2px #C1BCBC;
    margin: 20px;

}

.producto h3{
    text-align: center;
}
.img-produc{
    max-width: 25%;
    justify-self: center;
    
}
.img-produc img{
    max-width: 100%;

}

.formulario{
    display: inherit;
    grid-area: formulario;
    box-shadow: 0 0 2px #C1BCBC;
    padding:15px;
    margin-right: 20px;

}

.formulario form{
    display: inherit;
    width: 80%;
    justify-self: center;
}

form input{
    margin-bottom: 15px;
    height: 35px;
    border: 1px solid black;
    border-radius: 2px;
}
.ima1{
    display: inherit;
    grid-area: ima1;
    justify-content:center;
    vertical-align:center;
    text-align:center


}
.desc1{
    grid-area: desc1;
    justify-self:center;
    align-self:center;
    flex-wrap: wrap;

 
}

.desc2{
    grid-area: desc2;
    width: 650px;
    justify-self:center;
    align-self:center;


}
.ima2{
    display: inherit;
    grid-area: ima2;
    width: 250px;
    justify-content:center;
    align-items:center;
}
.ima3{
    display: inherit;
    grid-area:ima3;
    justify-content:center;
    align-items:center;
}
.desc3{

    grid-area:desc3;
    flex-wrap: wrap;
    justify-self:center;
    align-self: center;
}



.data-sale{
    display: inherit;
    grid-area: data-sale;
    justify-self: center;
    align-self: center;
    box-shadow: 0 0 2px #C1BCBC
}